body {
  background-color: #111;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

#tempChart48h {
    width: 100%;
    height: 250px;
}

#percChart48h {
    width: 100%;
    height: 400px;
}

#tempChart10d {
    width: 100%;
    height: 250px;
}

#percChart10d {
    width: 100%;
    height: 400px;
}

#tempChart12h {
    width: 100%;
    height: 250px;
}

#percChart12h {
    width: 100%;
    height: 400px;
}

.widget {
  padding: 10px;
  max-width: 1000px;
  margin: 20px;
  float: left;
  background-color: #30303d;
  border-width: 3px;
  border-style: solid;
  border-radius: 20px;
  border-color: #404040;
  text-align: center;
}

.innerContainer {
  margin: 5px;
  background-color: #222;
  border-radius: 20px;
  border-color: #0000FF;
  text-align: center;
}

@media screen and (max-width: 600px) {
  body {
    background-color: #222;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
  }

  .widget {
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    float: none;
    background-color: #30303d;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    border-color: #404040;
    text-align: center;
  }

  .innerContainer {
    margin: 5px;
    background-color: #222;
    border-radius: 20px;
    border-color: #0000FF;
    text-align: center;
  }
}
