body {
  background-color: #111;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

#tempChart48h {
    width: 100%;
    height: 250px;
}

#percChart48h {
    width: 100%;
    height: 400px;
}

#tempChart10d {
    width: 100%;
    height: 400px;
}

#percChart10d {
    width: 100%;
    height: 400px;
}

#tempChart12h {
    width: 100%;
    height: 250px;
}

#percChart12h {
    width: 100%;
    height: 400px;
}

.live{
  height: 100%;
  width: 100%;
}

.widget {
  min-width: 200px;
  max-width: 600px;
  padding: 10px;
  margin: 20px;
  float: left;
  background-color: #30303d;
  border-width: 3px;
  border-style: solid;
  border-radius: 20px;
  border-color: #404040;
  text-align: center;
}

.innerContainer {
  margin: 5px;
  background-color: #222;
  border-radius: 20px;
  border-color: #0000FF;
  text-align: center;
}

@media screen and (max-width: 900px) {
  #tempChart48h {height: 150px}
  #percChart48h {height: 200px;}
  #tempChart10d {height: 200px;}
  #percChart10d {height: 200px;}
  #tempChart12h {height: 150px;}
  #percChart12h {height: 200px;}

  body {
    background-color: #000;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
  }
  .widget {
    min-width: 150px;
    max-width: 100%;
    width: auto;
    padding: 3px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 10px;
    margin-bottom: 15px;
    float: none;
    background-color: #30303d;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    border-color: #404040;
    text-align: center;
  }

  .innerContainer {
    margin: 2px;
    margin-top: 15px;
    background-color: #222;
    border-radius: 20px;
    border-color: #0000FF;
    text-align: center;
  }
}
